
.card{
    padding: 2%;
}

.cardImg{
    margin: 2%;
}

.btn-ver{
    color: #fff ;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #000000;
    border: 2px solid;
    border-color: #dadada;
    position: relative;
}


